# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
ENV/
*.egg-info/
dist/
build/

# Flask
instance/
.webassets-cache

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db



# virtuel enviroments
.venv

# Images - only allow webp
*.jpe
*.jpeg
*.png
*.gif
*.bmp
*.tiff

# Compressed files
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.tgz